<script src="node_modules/chart.js/src/chart.js"></script>

<div><BR><H3>RATINGS</H3></div>
<div class="container">
  <div class="row">
<div class="col-sm-3">
       Test Overall: <b>{{avgTestRating == -1 ? "No ratings available!" : avgTestRating}}</b><BR>
      <ngb-rating [(rate)]="avgTestRating" max="5" [readonly]="readonly">
      </ngb-rating>

      <BR>

        Avg Overall: <b>{{avgRating == -1 ? "No ratings available!" : avgRating}}</b><BR>
        <ngb-rating [(rate)]="avgRating" max="5" [readonly]="readonly">
        </ngb-rating>

      <BR>

        Avg Safety: <b>{{avgCat1Rating == -1 ? "No ratings available!" : avgCat1Rating}}</b><BR>
        <ngb-rating max="5" [(rate)]="avgCat1Rating" max="5" [readonly]="readonly"></ngb-rating>

      <BR>

        Avg Speed: <b>{{avgCat2Rating == -1 ? "No ratings available!" : avgCat2Rating}}</b><BR>
        <ngb-rating max="5" [(rate)]="avgCat2Rating" max="5" [readonly]="readonly"></ngb-rating>

      <BR>
        Avg Ease of Learning: <b>{{avgCat2Rating == -1 ? "No ratings available!" : avgCat3Rating}}</b><BR>
       <ngb-rating max="5" [(rate)]="avgCat3Rating" max="5" [readonly]="readonly"></ngb-rating>
    </div>

<div class="col-sm-3">
    User Overall: <b>{{userRating === 0 ? "Not yet rated" : userRating}}</b><BR>
    <ngb-rating [(rate)]="userRating" max="5" (rateChange)="passRating($event)">
    </ngb-rating>

    <BR>

    User Safety: <b>{{userCat1Rating === 0 ? "Not yet rated" : userCat1Rating}}</b><BR>
      <ngb-rating [(rate)]="userCat1Rating" max="5" (rateChange)="passCat1Rating($event)">
      </ngb-rating>

      <BR>

    User Speed: <b>{{userCat2Rating === 0 ? "Not yet rated" : userCat2Rating}}</b><BR>
      <ngb-rating [(rate)]="userCat2Rating" max="5" (rateChange)="passCat2Rating($event)">
      </ngb-rating>

      <BR>

    User Ease of Learning: <b>{{userCat3Rating === 0 ? "Not yet rated" : userCat3Rating}}</b><BR>
      <ngb-rating [(rate)]="userCat3Rating" max="5" (rateChange)="passCat3Rating($event)">
      </ngb-rating>

    </div>

  <div class="col-sm-6" style="text-align: center">
    Global Primary Language Use (%)
    <app-user-graph></app-user-graph>
  </div>

    <!-- <div class="col-sm-3">

    </div> -->

    </div>
  </div>
