<script src="node_modules/chart.js/src/chart.js"></script>

<div><BR><H3>RATINGS</H3></div>
<div class="container">
  <div class="row">
<div class="col-sm-3">
        Avg Overall: <b>{{avgRating == -1 ? "No ratings available!" : avgRating}}</b><BR>
        <ngb-rating [(rate)]="avgRating" max="5" [readonly]="readonly">
        </ngb-rating>

      <BR>

        Avg Safety: <b>{{avgCat1Rating == -1 ? "No ratings available!" : avgCat1Rating}}</b><BR>
        <ngb-rating max="5" [(rate)]="avgCat1Rating" max="5" [readonly]="readonly"></ngb-rating>

      <BR>

        Avg Speed: <b>{{avgCat2Rating == -1 ? "No ratings available!" : avgCat2Rating}}</b><BR>
        <ngb-rating max="5" [(rate)]="avgCat2Rating" max="5" [readonly]="readonly"></ngb-rating>

      <BR>
        Avg Ease of Learning: <b>{{avgCat2Rating == -1 ? "No ratings available!" : avgCat3Rating}}</b><BR>
       <ngb-rating max="5" [(rate)]="avgCat3Rating" max="5" [readonly]="readonly"></ngb-rating>
    </div>

<div class="col-sm-3" *ngIf="checkUserLogin()">
  <!-- <div *ngIf="areUserRatingsPopulated"> -->

      <!-- User Overall: <b>{{userRating === 0 ? "Not yet rated" : userRating}}</b><BR> -->
      User Overall: <b>{{userRating}}</b><BR>
    <ngb-rating [(rate)]="userRating" max="5" (rateChange)="passRating($event)">
    </ngb-rating>

    <BR>

    <!-- User Safety: <b>{{userCat1Rating === 0 ? "Not yet rated" : userCat1Rating}}</b><BR> -->
       User Safety: <b>{{userCat1Rating}}</b><BR>

      <ngb-rating [(rate)]="userCat1Rating" max="5" (rateChange)="passCat1Rating($event)">
      </ngb-rating>

      <BR>

      <!-- User Speed: <b>{{userCat2Rating === 0 ? "Not yet rated" : userCat2Rating}}</b><BR> -->
      User Speed: <b>{{userCat2Rating}}</b><BR>

      <ngb-rating [(rate)]="userCat2Rating" max="5" (rateChange)="passCat2Rating($event)">
      </ngb-rating>

      <BR>

      <!-- User Ease of Learning: <b>{{userCat3Rating === 0 ? "Not yet rated" : userCat3Rating}}</b><BR> -->
      User Ease of Learning: <b>{{userCat3Rating}}</b><BR>

      <ngb-rating [(rate)]="userCat3Rating" max="5" (rateChange)="passCat3Rating($event)">
      </ngb-rating>

    </div>

  <!-- </div> -->

  <div class="col-sm-6" style="text-align: center">
    <strong>Most Popular Programming Languages (%)</strong>
    <app-user-graph></app-user-graph>
    Data Source: <A HREF="http://stackify.com/popular-programming-languages-2018/" target=blank>Stackify December 2017</A>
  </div>

    <!-- <div class="col-sm-3">

    </div> -->

    </div>
  </div>
