<br>
<br>
<div class="jumbotron">
<div>
  <img src="assets/media/favicon.ico" alt="Lily Pad">
</div>
<br>
<div>
  <div>
    If you have any questions or issues, please feel free to get in contact with any of the project maintainers:
  </div>
  <br>
  <ul>
    <li><a href="https://github.com/joshokodo/">Joshua Ciccone-Okodo</a></li>
    <li><a href="https://github.com/ajtpxn/">Brandon Jaloway</a></li>
    <li><a href="https://github.com/rob10thhuman/">Rob Thompson</a></li>
    <li><a href="https://github.com/hzelenka/">Henry Zelenka</a></li>
  </ul>
  </div>
