<form>
  <div class="form-row align-items-center">
    <div class="col-auto"><label for="search">Search:</label></div>
    <div class="col">
      <input
        class="form-control"
        type="search"
        name="search"
        placeholder="Search with keywords"
        [(ngModel)]="searchString"
      />
    </div>
    <div class="col-auto">
      <button
        class="btn btn-primary"
        (click)="allLanguagesByKeywords(searchString)"
      >
        Search
      </button>
    </div>
  </div>
</form>
