<div *ngIf="language">
  <h1>{{ language.name }}</h1>
  <h2>Basic Information</h2>
  <table>
    <tr>
      <td>Creator</td>
      <td>{{ language.creator }}</td>
    </tr>
    <tr>
      <td>Year Created</td>
      <td>{{ language.yearCreated }}</td>
    </tr>
    <tr>
        <td>Ratings</td>
        <td *ngFor="let lRatings of lRatings"></td>
        <td>{{language.lRatings}}</td>
      </tr>
  </table>

  {{ language.info }}
  <app-rating></app-rating>
  <br>
  <br>
  <h4>Comments</h4>
  <button *ngIf="!addingComment" (click)="setAddingComment(true)">
    Add New Comment
  </button>

  <form *ngIf="addingComment">
    <textarea
      rows="5"
      cols="40"
      name="comment"
      [(ngModel)]="newComment.comment"
    ></textarea>
    <button (click)="addComment(newComment)" class="btn btn-success">
      Add
    </button>
    <button (click)="setAddingComment(false)" class="btn btn-danger">
      Cancel
    </button>
  </form>

  <ul>
    <li *ngFor="let comment of comments">
      {{ comment.user.username }} Date:
      {{ comment.dateAdded | date: 'shortDate' }}
      <p>{{ comment.comment }}</p>
    </li>
  </ul>
</div>
