<div *ngIf="language">
  <h1>{{ language.name }}</h1>
  <h2>Basic Information</h2>
  <table>
    <tr>
      <td>Creator</td>
      <td>{{ language.creator }}</td>
    </tr>
    <tr>
      <td>Year Created</td>
      <td>{{ language.yearCreated }}</td>
    </tr>
    <tr>
        <td>Ratings</td>
        <td *ngFor="let lRatings of language.lRatings">{{lRatings.rating}}</td>
      </tr>
  </table>

  {{ language.info }}
  <app-rating></app-rating>
  <br>
  <br>
  <app-comments></app-comments>

</div>
