<h4>Comments</h4>
<button
  class="btn btn-dark"
  *ngIf="!newComment && isLoggedIn()"
  (click)="setupAddingComment()"
>
  Add New Comment
</button>
<br />

<form *ngIf="newComment">
  <textarea
    rows="5"
    cols="40"
    name="comment"
    [(ngModel)]="newComment.comment"
  ></textarea>
  <br />
  <div class="btn-group">
    <button (click)="addComment(newComment)" class="btn btn-outline-success">
      Add
    </button>
    <button (click)="teardownAddingComment()" class="btn btn-outline-danger">
      Cancel
    </button>
  </div>
</form>
<br />

<div class="btn-group">
  <h5>Sort By:</h5>
  <button
    [ngClass]="
      sortQuery === 'TOP'
        ? 'badge badge-pill badge-primary'
        : 'badge badge-pill badge-light'
    "
    (click)="setSortQuery('TOP')"
  >
    Top Rated
  </button>
  <button
    [ngClass]="
      sortQuery === 'OLDEST'
        ? 'badge badge-pill badge-primary'
        : 'badge badge-pill badge-light'
    "
    (click)="setSortQuery('OLDEST')"
  >
    Oldest
  </button>
  <button
    [ngClass]="
      sortQuery === 'NEWEST'
        ? 'badge badge-pill badge-primary'
        : 'badge badge-pill badge-light'
    "
    (click)="setSortQuery('NEWEST')"
  >
    Newest
  </button>
</div>

<div *ngFor="let comment of comments">

  <div class="card card-comment">
    <div class="card-body">
      <h5 class="card-title" style="color:blueviolet">
        <div class="btn-group">
          <button
            *ngIf="!isLoggedInUsername(comment.user.username) && isLoggedIn()"
            [ngClass]="isUpVoted(comment.votes)"
            (click)="voteComment(comment, true)"
          >
            &#8593;
          </button>
          <span class="badge badge-pill badge-warning">{{
            comment.votes | calculateVotes
          }}</span>
          <button
            *ngIf="!isLoggedInUsername(comment.user.username) && isLoggedIn()"
            [ngClass]="isDownVoted(comment.votes)"
            (click)="voteComment(comment, false)"
          >
            &#8595;
          </button>
        </div>
        {{ isLoggedInUsername(comment.user.username) ? '(YOU)' : '' }}
        {{ comment.user.username }}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted" style="color:blueviolet">
        {{ comment.dateUpdated | date: 'shortDate' }}
      </h6>
      <p class="card-text">{{ comment.comment }}</p>

      <div
        class="btn-group"
        *ngIf="isLoggedInUsername(comment.user.username) && !updatingComment"
      >
        <button
          class="badge badge-pill badge-primary"
          (click)="setupUpdatingComment(comment)"
        >
          Edit
        </button>
        <button
          class="badge badge-pill badge-danger"
          (click)="deleteComment(comment.id)"
        >
          Delete
        </button>
      </div>

      <div class="btn-group" *ngIf="!isLoggedInUsername(comment.user.username)">
        <button
          class="badge badge-pill badge-primary"
          (click)="setupReplyingComment(comment)"
        >
          Reply
        </button>
      </div>

      <form *ngIf="updatingComment && updatingComment.id === comment.id">
        <textarea
          rows="5"
          cols="40"
          name="comment"
          [(ngModel)]="updatingComment.comment"
        ></textarea>
        <br />
        <div class="btn-group">
          <button
            (click)="updateComment(updatingComment.id, updatingComment)"
            class="btn btn-primary"
          >
            Update
          </button>
          <button (click)="teardownUpdatingComment()" class="btn btn-danger">
            Cancel
          </button>
        </div>
      </form>

      <form *ngIf="replyingComment && replyingComment.parentComment.id === comment.id">
        <textarea
          rows="5"
          cols="40"
          name="comment"
          [(ngModel)]="replyingComment.comment"
        ></textarea>
        <br />
        <div class="btn-group">
          <button
            (click)="addReplyingComment(comment.id, replyingComment)"
            class="btn btn-primary"
          >
            Add Reply
          </button>
          <button (click)="teardownReplyingComment()" class="btn btn-danger">
            Cancel
          </button>
        </div>
      </form>
    </div>
  </div>






  <div *ngFor="let subComment of comment.subComments" class="card card-sub-comment">
    <div class="card-body">
        <div class="btn-group">
            <button
              *ngIf="!isLoggedInUsername(subComment.user.username) && isLoggedIn()"
              [ngClass]="isUpVoted(subComment.votes)"
              (click)="voteSubComment(subComment, true)"
            >
              &#8593;
            </button>
            <span class="badge badge-pill badge-warning">{{
              subComment.votes | calculateVotes
            }}</span>
            <button
              *ngIf="!isLoggedInUsername(subComment.user.username) && isLoggedIn()"
              [ngClass]="isDownVoted(subComment.votes)"
              (click)="voteSubComment(subComment, false)"
            >
              &#8595;
            </button>
          </div>
      <h5 class="card-title" style="color:blueviolet">
        {{ subComment.user.username }}
      </h5>
      <h6 class="card-subtitle mb-2 text-muted" style="color:blueviolet">
        {{ subComment.dateUpdated | date: 'shortDate' }}
      </h6>
      <p class="card-text">{{ subComment.comment }}</p>

    </div>
  </div>


<br>





</div>
