<h4>Comments</h4>
<button
  class="btn btn-dark"
  *ngIf="!newComment && isLoggedIn()"
  (click)="setupAddingComment()"
>
  Add New Comment
</button>
<br />

<form *ngIf="newComment">
  <textarea
    rows="5"
    cols="40"
    name="comment"
    [(ngModel)]="newComment.comment"
  ></textarea>
  <br />
  <div class="btn-group">
    <button (click)="addComment(newComment)" class="btn btn-outline-success">
      Add
    </button>
    <button (click)="teardownAddingComment()" class="btn btn-outline-danger">
      Cancel
    </button>
  </div>
</form>
<br />

<div class="btn-group">
  <h5>Sort By:</h5>
  <button [ngClass]="sortQuery === 'TOP' ? 'badge badge-pill badge-primary' : 'badge badge-pill badge-light'" (click)="setSortQuery('TOP')">Top Rated</button>
  <button [ngClass]="sortQuery === 'OLDEST' ? 'badge badge-pill badge-primary' : 'badge badge-pill badge-light'" (click)="setSortQuery('OLDEST')">Oldest</button>
  <button [ngClass]="sortQuery === 'NEWEST' ? 'badge badge-pill badge-primary' : 'badge badge-pill badge-light'" (click)="setSortQuery('NEWEST')">Newest</button>

</div>
<table

  *ngFor="let comment of (comments | sortComments: sortQuery)"
  class="table"
>
  <tr class=" table-secondary">
    <td>
      <button *ngIf="!isLoggedInUsername(comment.user.username) && isLoggedIn()"
      [ngClass]="isUpVoted(comment.votes)"  (click)="voteComment(comment, true)">
        &#8593;
    </button>
          <span class="badge badge-pill badge-warning">{{comment.votes | calculateVotes}}</span>
      <button *ngIf="!isLoggedInUsername(comment.user.username) && isLoggedIn()"
      [ngClass]="isDownVoted(comment.votes)" (click)="voteComment(comment, false)">
          &#8595;
      </button>
    </td>
    <td>
      <h5 style="color:blueviolet">{{ comment.user.username }}</h5>
    </td>
    <td>
      <h5 style="color:blueviolet">
        {{ comment.dateUpdated | date: 'shortDate' }}
      </h5>
    </td>
  </tr>

  <tr class="table-warning">

    <td><!-- empty space --></td>
    <td>
      <blockquote>{{ comment.comment }}</blockquote>
    </td>
    <td><!-- empty space --></td>
  </tr>
  <tr>

  </tr>

  <tr
  class="table-warning"
  *ngIf="isLoggedInUsername(comment.user.username) && !updatingComment"
  >
  <td>
    <button
    class="badge badge-pill badge-primary"
    (click)="setupUpdatingComment(comment)"
    >
    Edit
  </button>
</td>
<td>

  <button
  class="badge badge-pill badge-danger"
  (click)="deleteComment(comment.id)"
  >
  Delete
</button>
</td>
  <td><!-- empty space --></td>
</tr>
<tfoot>
  <td>
    <form *ngIf="updatingComment && isLoggedInUsername(comment.user.username)
    && updatingComment.id === comment.id">
        <textarea
          rows="5"
          cols="40"
          name="comment"
          [(ngModel)]="updatingComment.comment"
        ></textarea>
        <br />
        <div class="btn-group">
          <button
            (click)="updateComment(updatingComment.id, updatingComment)"
            class="btn btn-primary"
          >
            Update
          </button>
          <button (click)="teardownUpdatingComment()" class="btn btn-danger">
            Cancel
          </button>
        </div>
      </form>
    </td>
</tfoot>

</table>





