<h1>Register</h1>
<form #registerForm = "ngForm">
  First Name:<input class="form-control" type="text" name="fName" ngModel>
  <br>
  Last Name:<input class="form-control" type="text" name="lName" ngModel>
  <br>
  Email:<input class="form-control" type="text" name="email" ngModel>
  <br>
  Username:<input class="form-control" type="text" name="username" ngModel>
  <br>
  Password:<input class="form-control" type="text" name="password" ngModel>
  <br>

  <button class="btn btn-primary" (click)="registerUser(registerForm)">Submit</button>
</form>
