<form>
  <div class="form-row align-items-center">
      <label for="minRatingEntry">Minimum Average: </label>
      <select convert-to-number name="minRatingEntry" [(ngModel)]="minRatingEntry">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="minCat1Entry">Minimum Category 1: </label>
      <select convert-to-number name="minCat1Entry" [(ngModel)]="minCat1Entry">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="minCat2Entry">Minimum Category 2: </label>
      <select convert-to-number name="minCat2Entry" [(ngModel)]="minCat2Entry">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
      <label for="minCat3Entry">Minimum Category 3: </label>
      <select convert-to-number name="minCat3Entry" [(ngModel)]="minCat3Entry">
        <option value="1">1</option>
        <option value="2">2</option>
        <option value="3">3</option>
        <option value="4">4</option>
        <option value="5">5</option>
      </select>
    <div class="col-auto">
      <button
        class="btn btn-primary"
        (click)="allLanguagesByRating(minRatingEntry, minCat1Entry, minCat2Entry, minCat3Entry)"
      >
        Search
      </button>
    </div>
  </div>
</form>
