<div style="align-items: center">
  <h2>Top 10 Languages:</h2>
  <div class="border hoverDiv rounded" *ngFor="let lang of languages" (click)="detailPage(lang.id)" >
    <div class="p-1 ml-4">
      <div class="row">
        <div class="col d-flex align-items-center">
            <h3>{{ lang.name }}</h3>
        </div>
        <div class="col">
          <div class="text-center">
            <img src="assets/media/{{lang.logo}}" alt="{{lang.name}} Logo" />
          </div>
        </div>
      </div>
    </div>
    <br />
  </div>
</div>
